{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}

{%
	set classes = [
		'col-12',
		'col-md-9',
		'col-md-3',
	]
%}

{% if content %}
	<div{{attributes.addClass('container')}}>
		<div{{attributes.addClass('row')}}>

			{% if content.first %}
				<div {{ region_attributes.first.addClass(classes).removeClass('col-md-3') }}>
					{{ content.first }}
				</div>
			{% endif %}

			{% if content.second %}
				<div {{ region_attributes.second.addClass(classes).removeClass('col-md-9') }}>
					{{ content.second }}
				</div>
			{% endif %}

		</div>

	</div>
{% endif %}
