{#
/**
 * @file
 * Theme override for a three-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
	set classes = [
		'col-12',
		'col-md-4',
	]
%}

{% if content %}
	<div{{attributes.addClass('container')}}>

		{% if content.top %}
			<div{{attributes.addClass('row')}}>
				<div {{ region_attributes.top.addClass('col-12') }}>
					{{ content.top }}
				</div>
			</div>
		{% endif %}

		<div{{attributes.addClass('row')}}>
			{% if content.first %}
				<div {{ region_attributes.first.addClass(classes) }}>
					{{ content.first }}
				</div>
			{% endif %}

			{% if content.second %}
				<div {{ region_attributes.second.addClass(classes) }}>
					{{ content.second }}
				</div>
			{% endif %}

			{% if content.third %}
				<div {{ region_attributes.third.addClass(classes) }}>
					{{ content.third }}
				</div>
			{% endif %}
		</div>

		{% if content.bottom %}
			<div{{attributes.addClass('row')}}>
				<div {{ region_attributes.bottom.addClass('col-12') }}>
					{{ content.bottom }}
				</div>
			</div>
		{% endif %}

	</div>
{% endif %}
