{#
/**
 * @file
 * Theme override for a four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}

{%
	set classes = [
		'col-12',
		'col-md-6',
		'col-lg-3',
	]
%}

{% if content %}
	<div{{attributes.addClass('container')}}>
		<div{{attributes.addClass('row')}}>

			{% if content.first %}
				<div {{ region_attributes.first.addClass(classes) }}>
					{{ content.first }}
				</div>
			{% endif %}

			{% if content.second %}
				<div {{ region_attributes.second.addClass(classes) }}>
					{{ content.second }}
				</div>
			{% endif %}

			{% if content.third %}
				<div {{ region_attributes.third.addClass(classes) }}>
					{{ content.third }}
				</div>
			{% endif %}

			{% if content.fourth %}
				<div {{ region_attributes.fourth.addClass(classes) }}>
					{{ content.third }}
				</div>
			{% endif %}

		</div>

	</div>
{% endif %}
