{#
/**
 * @file
 * UI Pattern library page template, override this in your theme.
 */
#}

{%
	set classes = [
		'row',
		'col-12',
		'col-md-6',
	]
%}

{% if patterns is not empty %}


	{# List of available patterns with anchor links. #}
	{% for group_name, group_patterns in patterns %}
		{% if patterns|length > 1 %}
			<h3>{{ group_name }}</h3>
		{% endif %}
		<ul>
			{% for pattern_name, pattern in group_patterns %}
				<li>
					<a href="#{{ pattern_name }}">{{ pattern.label }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}

	<hr>

	{% for group_patterns in patterns %}
		{% for pattern_name, pattern in group_patterns %}
			<div class="pattern-preview pattern-preview__{{ pattern.definition.id }}" id="{{ pattern_name }}">
				{{ pattern.meta }}

				<div class="container">
					<div class="row">
						<div
							{{attributes.addClass(classes)}}>

							{# Rendered pattern preview. #}
							<fieldset class="pattern-preview__preview">

								{{ pattern.rendered }}
							</fieldset>

						</div>
						<div
							{{attributes.addClass(classes)}}>
							{# Pattern fields descriptions. #}
							<table class="pattern-preview__fields">
								<tbody>
									{% for field in pattern.fields %}
										<tr>

											<td>{{ field.label }}</td>
											<td>
												<code>{{ field.type }}</code>
											</td>

										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>

			<hr>
		{% endfor %}
	{% endfor %}
{% endif %}
